@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500&family=Fredoka:wght@300&display=swap');



/*---------*/
/*↓GLOBAL↓*/
/*-------*/

html,body {
    max-width: 1200;
    min-width: 350;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #B8E1FF;
    overflow-x: hidden; /* Hide scrollbars */
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

img{
    pointer-events: none;
}

li,img{
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

.contact__main__page{
    flex: 1 1 auto;
}

ul { 
    list-style: none; 
    padding-left: 0px; 
}

a{
    text-decoration: none;
    color: #ff6e81;
    transition: all 0.3s;
    font-family: Fredoka;
}
a:hover{
    color: #F1C0E8;
}


h2,p{
    font-family: 'Atma', cursive;
}
li{
    list-style-type: none;
    letter-spacing: 1px;
}
.modal-body{
    text-align: center;
    line-height: 100%;
}

/*-----------*/
/*↓p-GATEAU↓*/
/*---------*/
.container__cake__body{
    min-width: 100%;
    background-color: #8EECF5;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.cook__img{
    max-width: 100%;
    width: 300px;

}
.cake__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid__card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 2rem;
    max-width: 1200px;
    min-width: 350px;
    margin: 0 auto;
}

.card__item{
    background-color: #dec9ff;
    display: grid;
    align-self: center;
    justify-self:center;
    margin: 1rem;
    height: 100%;

}
.grid__card > article {
    border-radius: 6px;
    margin-bottom: 1rem;
    height: 100%;
    width: 100%;
    
}

.grid__card > article img {
border-radius: 6px;
  max-width: 100%;
  height: 250px;
  width: 100%;
}

.grid__card .text {
  height: 200px;
  text-align: center;
}



.text{
    grid: auto-flow / 1fr 1fr 1fr;
}


h3{
    margin: 1rem;
    font-family: Fredoka ;
}


.btn__cake__page {
    background-color: #CFBAF0;
    border-radius: 6px;
    height: 50px;
    width: 80px;
    border: none;
    transition: all 0.3s;
    font-family: 'Atma', cursive;
    width: 100%;
    
}
.btn__body{
    height: 55px;
    display: grid;
    align-self: end;
}
.btn__cake__page{
    width: 100%;
    height: 100%;
}
.btn__cake__page:hover{
    background-color: #b282ff
}

.price__body__cards{
    display: grid;
    align-self: end;
    justify-self: center;
}
/*-----------*/
/*↓p-CONTACT*/
/*---------*/
.contact__main__page{
    display: flex;
    align-items: center;
}
.contact__main__body{
    min-width: 100%;
    height: auto;
}
.contact__form{
    display: flex;
}
.contact__information{
padding: 2rem;
margin: 0 auto;
background-color: white;
border-radius: 6px;
display: flex;
justify-content: space-between;
height: 100%;
}


.magasine__contact,.magasine__adresse{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0;
    line-height: 210%;
 }
 .magasine__contact__link,.magasine__adresse__link{
    margin-top: 1rem;
 }
.magasine__adresse__list,.magasine__contact__list{
    text-align: center;
}
.adresse__h3{
    line-height: 200%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    height: 20%;
    margin: 0 auto;
}
.border__line{
    border: 1px salmon solid;
    width: 100px;
    height: 2px; 
}
