@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500&family=Fredoka:wght@300&display=swap');

/*header,footer background-color:#CFBAF0/

/*Button, a background-color: #FFCFD2

            text-color:#edf2fb/

/*Button, a:hover background-color: #fcadb2/

/*H1-main-page background-color:#98F5E1;*/

/*main-page cake sections, 1 - background-color:#8EECF5 ,  1 - background-color:#90DBF4 ,  1 - background-color:#A3C4F3/

/*---------*/
/*↓GLOBAL↓*/
/*-------*/

html,body {
    max-width: 1200;
    min-width: 350;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #B8E1FF;
    overflow-x: hidden; /* Hide scrollbars */
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

img{
    pointer-events: none;
}

li,img{
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

.contact__main__page{
    flex: 1 1 auto;
}

ul { 
    list-style: none; 
    padding-left: 0px; 
}

a{
    text-decoration: none;
    color: #edf2fb;
    transition: all 0.3s;
    font-family: Fredoka;
}
a:hover{
    color: #c6daff;
}


h2,p{
    font-family: 'Atma', cursive;
}
li{
    list-style-type: none;
    letter-spacing: 1px;
}
.modal-body{
    text-align: center;
    line-height: 100%;
}

/*---------*/
/*↓NAVBAR↓*/
/*-------*/
.nav__style{
    background-color: #CFBAF0;
}
.nav__logo{
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    color:#FBF8CC
}


.navbar-toggler-icon{
    color:#FBF8CC ;
}
.nav-link{
    color: #FBF8CC;
    transition: all 0.3s;
    font-size: 1.6rem;
    font-family: 'Atma', cursive;
}
.nav-link:hover{
    color: #fdfdfd;
}


/*-------*/
/*↓MAIN↓*/
/*-----*/


.chocolate__img{
    max-width: 100%;
    width: 350px;
    border: #844fff 1px solid;
    border-radius: 6px;
}

.section_2{
    background-color: #8EECF5;
}
.section_3{
    background-color: #90DBF4;
}
.section_4{
    background-color: #A3C4F3;
}
.section_2,.section_3,.section_4 {
    max-width: 100%;
    height: auto;
    } 


h1 {
    margin: 0 ;
    max-width: 100%;
    text-align: center;
    background-color: #98F5E1;
}


.article__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.price__body{
    display: flex;
    justify-content: center;
}
.btn__buy {
    background-color: #CFBAF0;
    border-radius: 6px;
    height: 50px;
    width: 80px;
    border: none;
    transition: all 0.3s;
    font-family: 'Atma', cursive;
    
}
.btn__buy:hover{
    background-color: #b282ff
}
/*---------*/
/*↓FOOTER↓*/
/*-------*/

.footer__container{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    height: 200px;
    background-color: #CFBAF0;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
h1,footer>li{
    font-family: 'Fredoka', sans-serif;
}

.info{ 
    text-align: center;
    padding: 0.8rem;
    margin: 0;
}

/*-----------*/
/*↓p-GATEAU↓*/
/*---------*/
.container__cake__body{
    min-width: 100%;
    background-color: #8EECF5;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.cook__img{
    max-width: 100%;
    width: 300px;

}
.cake__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid__card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 2rem;
    max-width: 1200px;
    min-width: 350px;
    margin: 0 auto;
}

.card__item{
    background-color: #dec9ff;
    display: grid;
    align-self: center;
    justify-self:center;
    margin: 1rem;
    height: 100%;

}
.grid__card > article {
    border-radius: 6px;
    margin-bottom: 1rem;
    height: 100%;
    width: 100%;
    
}

.grid__card > article img {
border-radius: 6px;
  max-width: 100%;
  height: 250px;
  width: 100%;
}

.grid__card .text {
  height: 200px;
  text-align: center;
}



.text{
    grid: auto-flow / 1fr 1fr 1fr;
}


h3{
    margin: 1rem;
    font-family: Fredoka ;
}


.btn__cake__page {
    background-color: #CFBAF0;
    border-radius: 6px;
    height: 50px;
    width: 80px;
    border: none;
    transition: all 0.3s;
    font-family: 'Atma', cursive;
    width: 100%;
    
}
.btn__body{
    height: 55px;
    display: grid;
    align-self: end;
}
.btn__cake__page{
    width: 100%;
    height: 100%;
    color: #edf2fb;
}
.btn__cake__page:hover{
    background-color: #fcadb2
}

.price__body__cards{
    display: grid;
    align-self: end;
    justify-self: center;
}
/*-----------*/
/*↓p-CONTACT*/
/*---------*/
.contact__main__page{
    display: flex;
    align-items: center;
}
.contact__main__body{
    min-width: 100%;
    height: auto;
}
.contact__form{
    display: flex;
}
.contact__information{
padding: 2rem;
margin: 0 auto;
background-color: #CFBAF0;
border-radius: 6px;
display: flex;
justify-content: space-between;
height: 100%;
}


.magasine__contact,.magasine__adresse{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0;
    line-height: 210%;
 }
 .magasine__contact__link,.magasine__adresse__link{
    margin-top: 1rem;
 }
.magasine__adresse__list,.magasine__contact__list{
    text-align: center;
}
.adresse__h3{
    line-height: 200%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    height: 20%;
    margin: 0 auto;
    color: #FFCFD2;
}
.border__line{
    border: 1px salmon solid;
    width: 100px;
    height: 2px; 
}


@media (max-width: 576px) { 
    /*main*/
        .price__body {
            height: 4rem;
            width: 50%;
            align-items: center;
        }
        .btn__buy {
            padding: 0;
        }
        .price__body{
    
            margin-left: 1rem;
        }
        s{
            padding-left: 1rem;
        }
        .page__info{
            margin: 1rem;
        }
        .page__info__h2{
            font-size: 1.3rem;
        }
        h2{
            font-size: 2rem;
        }
        .chocolate__info__body{
            justify-content: center;
            display: flex;
            flex-direction: row;
        }
        .chocolate__img{
            min-width: 100px;
            width: 258px;
            height: 500px;
            object-fit:cover;
            object-position: center;
            margin-left: 1rem;
            margin-top: 1rem;
        }
        .chocolate__info{
            min-width: 50px;
            width: 160px;
            margin: 1rem;
            margin-left: 2rem;
        }
        /*FOOTER*/

        .footer__container{
            height: 100%;
            margin-top: 1rem;
            min-width: 300px;
        }

        footer{
            display: flex;
            flex-wrap: wrap;
        }
        /*p-gateau*/
        .cake__flex {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            width:100%;
        }
        .cook__img__body {
            padding-top:1rem ;
            text-align: center;
            height: 100%;
        }
        .cook__img{
            object-fit:cover;
            object-position: center;
            width: 100%;
        }
        .cake__type__info>p{
            font-size: 1rem;
            text-align: center;
            padding-right: 1rem;
            padding-left: 2rem;
            margin: 0 auto;
            padding: 0;
            width: 250px;
        }
    
        .grid__card {
            padding: 0;
            margin-top: 1rem;
            min-width: 300px;
        }
    
        .card__item{
            width: 300px;
        }
    
    
        .card__img {
            width: 370px;
            height: 500px;
            object-fit:cover;
            object-position: center;
        }
        /*p-CONTACT*/
        .contact__information{
            width: 100%;
            height: 700px;
            margin: 0 auto;
            min-width: 350px;
            padding: 0;
        }
        .magasine__adresse, .magasine__contact{
            padding: 1.6rem;
        }
    }
    
    @media (min-width: 576px) { 
        .nav-link{
            color: #FBF8CC;
            font-size: 1.4rem;
        }
        .ingridient__information{
            display: flex;
            align-self: center;
            flex-direction: column;
        }
        p{
            font-size: 1.4rem;
        }
        .btn__buy,s {
            margin-left: 1rem;
        }
        .chocolate__info__body{
            display: flex;
            flex-direction: row;
        }
        .chocolate__img{
            min-width: 100px;
            width: 370px;
            height: 500px;
            object-fit:cover;
            object-position: center;
            margin: 1rem;
        }
    
        .chocolate__info{
            min-width: 50%;
            width: 258px;
            margin: 1rem;
            margin-left: 2rem;
        }
    
            /*p-gateau*/
    
        .cake__type__info>p{
            text-align: center;
            padding-right: 1rem;
            padding-left: 1rem;
            margin: 0;
        }
        .card__item{
        width: 300px;
        }
    
        .grid__card{
            padding: 1rem;
        }
        .card__img {
            min-width: 100px;
            width: 300px;
            height: 500px;
            object-fit:cover;
            object-position: center;
        }
            /*p-CONTACT*/
            .contact__information{
                width: 600px;
                height: 600px;
                margin: 0 auto;
            }
    }
    
    
    @media (min-width: 768px) { 
        .section_2,.section_3,.section_4 {
            width: 100%;
            height: auto;
            margin: 0 auto;
            } 
        .chocolate__info__body{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
        /*p-gateau*/
        .cake__text{
            width: 340px;
            
        }
        .cook__img{
            min-width: 350px;
        }
        .card__section{
            height: auto;
        }
        .contact__information{
            width: 800px;
            height: 600px;
            margin: 0 auto;
        }
        
    }
    @media (max-width: 768px) { 
        .section_2,.section_3,.section_4 {
            width: 100%;
            height: auto;
            margin: 0 auto;
            } 
            .chocolate__info__body{
                display: flex;
                flex-direction: row;
            }
            /*p-gateau*/
    
            .container__cake__body{
                width: 350px;
            }
            .cake__flex {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: nowrap;
            }
            .cake__text{
                width: 340px;
                padding-left: 4rem;
            }
            .cook__img{
                min-width: 340px;
            }
    
            .cake__flex{
                display: flex;
                flex-wrap: wrap;
            }
    
    }